@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body{
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  background-color: #F2F2F2;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/*HEADER*/

.navigation{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;

  display: flex;
  width: 1088px;
  height: 64px;
  margin: 0 70px;
}

.navigation-logo{
  display: block;
  width: 140px;
  margin-right: 30px;
}

.navigation-list{
  margin: 0;
  padding: 0;
  max-width: 360px;
  display: flex;
  align-items: center;
}

.navigation-link{
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 20px 16px;
}

.navigation-user{
  display: flex;
  align-items: center;
  max-width: 300px;
  margin-left: auto;
}

.navigation-user-link{
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.page-header ul{
  list-style: none;
}

.header-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 14px 70px 14px 20px;
  padding: 8px 34px;

  text-decoration: none;
  color: #fff;
  background-color: #756157;
}

/*MAIN*/

.hero{
  color:#fff;
  background-color: #82b3d3;
  background-image: url("../images/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 70px;
}


.hero-img{
  display: block;
  margin: 0 auto;
}


.lead{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;

  margin-bottom: 25px;
}

.lead-description{
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  margin-bottom: 90px;
}

/*Advantages*/

.advantages{
  margin-bottom: 64px;
}

.advantages-list{
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.advantages-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-sidewise{
  color: #fff;
  background-color: #82b3d3;
}

/*.advantages-item{
  width: 400px;
  padding: 112px 85px;
}

.advantages-img{
  display: block;
}*/

.item-light{
  background-color: rgba(131, 179, 211, 0.12);
}

.item-medium{
  background-color: rgba(131, 179, 211, 0.2);
}

/*Services*/

.lead-services{
  margin-bottom: 20px;
}

.lead-description-services{
  margin-bottom: 64px;
}

.services-list{
  list-style: none;
  text-align: center;
  display: flex;
  padding: 0;

  margin-bottom: 94px;
}

.services-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item{
  width: 400px;
  padding: 81px 85px;
}

/*Search*/

.search{
  text-align: center;
  margin-bottom: 96px;
}

.search-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.search-description{
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  margin-bottom: 54px;
}

.search-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  color:#fff;
  background-color: #756157;

  padding: 8px 50px;
}

/*FOOTER*/

.page-footer{
  text-align: center;
}

.page-footer a{
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

/*Subscribe*/

.subscribe{
  text-align: center;
  padding: 96px 258px 64px;
  margin-bottom: 40px;
}

.subscribe-special{
  color:#fff;
  background-color: #82b3d3;
  background-image: url("../images/inner-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.subscribe-description{
  font-size: 22px;
  line-height: 26px;

  margin-bottom: 54px;
}

.subscribe-button{
  font-weight: 700;
  font-size: 20px;
  font-family: inherit;
  line-height: 36px;
  text-transform: uppercase;

  color:#fff;
  background-color: #82b3d3;
  width: 232px;
  height: 52px;
}

.subscribe-form{
  display: flex;
  justify-content: center;
}

.subscribe-form input{
  line-height: 24px;
  background-color: #f2f2f2;
}

/*Social & Contacts*/

.page-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 35px;
}

.footer-social-list{
  display: flex;
  gap: 25px;

  list-style: none;
  margin-right: auto;
}

.footer-phone{
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  width: 331px;
}

.htmlacademy-link{
  margin-left: auto;
  margin-right: 70px;
}

/*CATALOG*/

.inner-filter{
  color:#fff;
  background-color: #82b3d3;
  background-image: url("../images/inner-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  height: 412px;
  padding: 35px 70px;
}

/*Filter*/

.header-inner-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

  margin-bottom: 8px;
}

.breadcrumbs-list{
  list-style: none;
  font-size: 16px;
  line-height: 21px;

  margin-bottom: 40px;
}

.breadcrumbs-link{
  text-decoration: none;
}
.inner-filter{
  margin-bottom: 40px;
}

.form-filter{
  display: flex;
}

.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list{
  list-style: none;
}

.catalog-filter-item{
  line-height: 23px;
}

.filter-range-control{
  line-height: 24px;
  text-align: right;
}

.catalog-filter-submit{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  color:#fff;
  background-color: #82b3d3;
}

.catalog-filter-reset{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  color:#fff;
  background-color: rgba(255, 255, 255, 0);
}

/*Products*/

.catalog-product-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color:#000;
  background-color: #fff;
}

.select-control{
  font-size: 18px;
  color: #333;
}

/*Cards*/

.product-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.product-list a{
  text-decoration: none;
}

.product-card-title{
  font-weight: 700;
  font-size: 24px;

  margin-bottom: 16px;
}

.product-card-description{
  margin-bottom: 16px;
}

.product-card-link{
  text-decoration: none;
  color: inherit;
}

.card-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  color:#fff;
  background-color: #756157;
}

.add-favorite-button{
  color:#fff;
  background-color: #82b3d3;
}

.favorite-button{
  background-color: #7db54f;
}

.product-card-rating{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/*Pagination*/

.pagination{
  list-style: none;
  display: flex;
  gap: 8px;
}

.pagination-link{
  text-decoration: none;
  color: #fff;
  background-color: #82b3d3;
}

.pagination-current{
  color: #000;
  background-color: #f2f2f2;
}

.pagination-unwrap{
  color: #000;
  background-color: #f2f2f2;
}
